.job_title_icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 4px;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    text-align: center;
    font-size: inherit;
    
}

.well.profile-description {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    h3 {
    margin-top: 0;
    }
}

.well.contact-info {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    h3 {
    margin-top: 0;
    }
}

.well.white-bg {
  background-color: white;
}

.well.black-bg {
  background-color: black;
}

//Users show page styles
.user-show-avatar {
    height: 128px;
    width: 128px;
}
//Users index page styles
.user-index-avatar {
    border-radius: 50%;
}